@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Staatliches&display=swap");

html {
  background-image: url(media/stats_bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  scrollbar-width: none;
}

button {
  width: 0;
  height: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

header h1 {
  text-align: center;
  font-size: 1700%;
  font-weight: 400;
  font-family: "staatliches";
  margin: 0 0 0 0;
  color: whitesmoke;
  text-shadow: 8px 8px 0px black;
}

body {
  margin: 0 0 0 0;
}

.greeting {
  color: white;
  font-family: "sora";
  text-align: center;
  font-size: 750%;
  font-weight: 150;
  text-shadow: 5px 5px 0px black;
  margin-top: -3%;
  margin-bottom: 0%;
}

.stats_where {
  color: white;
  font-family: "Roboto";
  text-align: center;
  font-size: 425%;
  font-weight: 100;
  text-shadow: 3px 3px 0px black;
  margin-top: 0%;
}

.navigators {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "sora";
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 3.5%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigators div {
  width: 39vw;
  height: 17vw;
  background-color: #6868688f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5vw;
}

.navigators p {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

.durations {
  padding: 0 0 0 0;
  font-size: 300%;
  color: white;
  list-style-type: none;
  font-family: "Chivo Mono";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7.5%;
  text-shadow: 5px 5px 0px black;
}

.statistics {
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}

.statistics li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statistics div {
  background-color: hsla(0, 0%, 41%, 0.33);
  border-radius: 2.5vw;
  height: 32vw;
}

.artist_list {
  width: 64vw;
  display: grid;
  grid-template-rows: 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw;
  grid-template-columns: 21.33vw 21.33vw 21.33vw;
  margin-bottom: 2.5%;
}

.artist_list p {
  font-family: "sora";
  text-align: center;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 0;
  grid-area: 1 / 1 / 2 / 4;
}

.artist_list ol {
  grid-area: 2 / 1 / 7 / 4;
  padding-left: 0;
  text-align: left;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.artist_list li {
  font-family: "sora";
  font-size: 350%;
  font-weight: 200;
}

.artist_display {
  width: 32vw;
  margin-bottom: 2.5%;
}

.track_display {
  width: 32vw;
  margin-bottom: 2.5%;
}

.tracks {
  display: flex;
  justify-content: space-evenly;
}

.track_list {
  width: 64vw;
  margin-bottom: 2.5%;
  grid-area: 2 / 1 / 7 / 4;
  padding-left: 0;
  text-align: left;
  margin-left: 0%;
  display: grid;
  grid-template-rows: 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw;
  grid-template-columns: 21.33vw 21.33vw 21.33vw;
}

.track_list p {
  font-family: "sora";
  text-align: center;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 0;
  grid-area: 1 / 1 / 2 / 4;
}

.track_list ol {
  grid-area: 2 / 1 / 7 / 4;
  padding-left: 0;
  text-align: left;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.track_list li {
  font-family: "sora";
  font-size: 350%;
  font-weight: 200;
}
.genre_list {
  width: 64vw;
  display: grid;
  grid-template-rows: 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw 5.33vw;
  grid-template-columns: 21.33vw 21.33vw 21.33vw;
  margin-bottom: 2.5%;
}

.genre_list p {
  font-family: "sora";
  text-align: center;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 0;
  grid-area: 1 / 1 / 2 / 4;
}

.genre_list ol {
  grid-area: 2 / 1 / 7 / 4;
  padding-left: 0;
  text-align: left;
  margin-left: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.genre_list li {
  font-family: "sora";
  font-size: 350%;
  font-weight: 200;
}

.genre_display {
  width: 32vw;
  margin-bottom: 2.5%;
}

.listening_stats {
  background-color: hsla(0, 0%, 41%, 0.33);
  border-radius: 2.5vw;
  width: 48vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 0%;
  margin-bottom: 2.5%;
}

.listening_stats li {
  font-family: "sora";
  font-size: 3vw;
  font-weight: 700;
}

.listening_plots {
  width: 48vw;
  height: 32vw;
}

.bpm_stats {
  background-color: hsla(0, 0%, 41%, 0.33);
  border-radius: 2.5vw;
  width: 48vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 0%;
  margin-bottom: 2.5%;
}

.bpm_stats li {
  font-family: "sora";
  font-size: 3vw;
  font-weight: 700;
}

.bpm_plots {
  width: 48vw;
  height: 32vw;
}

.popularity_stats {
  background-color: hsla(0, 0%, 41%, 0.33);
  border-radius: 2.5vw;
  width: 48vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 0%;
  margin-bottom: 2.5%;
}

.popularity_stats li {
  font-family: "sora";
  font-size: 3vw;
  font-weight: 700;
}

.popularity_plots {
  width: 48vw;
  height: 32vw;
}

footer {
  color: white;
  width: 100vw;
  height: 26vw;
  background-color: #2a2a2a;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}

footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  height: 26vw;
}

footer h1 {
  text-align: center;
  font-family: "staatliches";
  font-size: 17vw;
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 0%;
}

footer ul li p {
  font-family: "sora";
  font-weight: 700;
  font-size: 4.25vw;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

footer ul li div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer ul li a img {
  height: 8.5vw;
  width: 8.5vw;
}
@media screen and (max-width: 1650px) {
  .stats_where {
    margin-bottom: 1vw;
  }
  .durations {
    margin-top: 5vw;
  }
}
@media screen and (max-width: 1550px) {
  .greeting {
    font-size: 7vw;
  }
  .stats_where {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1300px) {
  .artist_list li {
    font-size: 3vw;
  }
  .track_list li {
    font-size: 3vw;
  }
  .genre_list li {
    font-size: 3vw;
  }
}
@media screen and (max-width: 1400px) {
  header h1 {
    font-size: 17vw;
  }
  .durations {
    font-size: 3vw;
  }
}
