@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&family=Staatliches&display=swap");
html {
  height: 100%;
  background-image: url("../images/login_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1100%;
  font-weight: lighter;
  font-family: "Staatliches";
  text-align: center;
  text-shadow: 5px 5px 0px black;
  margin-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0);
  position: sticky;
  margin-top: -1.5%;
  text-align: center;
  font-family: "sora";
  font-weight: 400;
  font-size: 350%;
  text-shadow: 3px 3px 0px black;
}
a {
  text-decoration: none;
}
.login_button {
  color: whitesmoke;
  background-color: transparent;
  width: 27%;
  height: 15vh;
  background-color: #1db954;
  border-radius: calc(max(13.25vw, 7.5vh));
  margin: 12.5% auto;
  display: flex;
  margin-bottom: 0px;
  text-decoration: none;
}
.login_button:hover {
  background-color: rgb(99, 113, 127);
  color: black;
}
.login_button img {
  transform: scaleX(-1);
  height: 75%;
  align-self: center;
  margin-left: 4%;
}
.login_button p {
  font-family: "sora";
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
  padding: 0 0 0 0;
  margin: auto;
}

.credits {
  text-align: right;
  position: absolute;
  right: 0.5%;
  bottom: 0.5%;
}

.creator {
  color: whitesmoke;
  font-family: "sora";
  font-size: 200%;
  font-weight: 700;
  text-shadow: 3px 3px black;
  position: relative;
  margin-bottom: 0;
}
.socials {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 250%;
  text-shadow: 3px 3px black;
  line-height: 125%;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.socials a {
  color: white;
  text-decoration: none;
}
.socials a:hover {
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
  h1 {
    font-size: 900%;
  }
  h2 {
    font-size: 200%;
  }
  .login_button p {
    font-size: 0;
    position: absolute;
    left: 100000%;
  }
  .login_button img {
    position: relative;
    align-self: center;
    margin: auto;
    padding: auto;
  }
  .creator {
    font-size: 4vw;
    bottom: 12%;
  }
  .socials {
    font-size: 300%;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 750%;
  }
  h2 {
    font-size: 175%;
  }
  .login_button p {
    font-size: 0;
    position: absolute;
    left: 100000%;
  }
  .login_button img {
    position: relative;
    align-self: center;
    margin: auto;
    padding: auto;
  }
  .creator p {
    font-size: 0vw !important;
  }
}
